body {
    margin: 0;
    padding: 16px;
}

/* NAVBAR */
.navbar-fisso {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 2000;
}

.btn-menu {
    background: none;
    border: none;
    color: black;
    font-family: "Host Grotesk";
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.btn-menu:hover {
    color: #f4952f;
    transform: rotate(-360deg);
}

.custom-menu {
    width: 250px !important;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.nav-links li {
    margin-bottom: 25px;
}

.nav-links a {
    color: rgb(20, 20, 20);
    text-decoration: none;
    font-family: "Host Grotesk";
    font-size: 28px;
    font-weight: 700;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f4952f;
}


/* LAYOUT */

.layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    gap: 16px; 
    width: 100%;
}

/* TITULO */
.titolo{
    font-family: "Host Grotesk";
    font-size: clamp(20px, 9vw, 90px);
    line-height: 0.8;
    font-weight: 800; 
    grid-column: 1/13;
    text-align: left;
    margin-left: 20px;
}


/* TEXTOS */
.testo{
    font-family: "Host Grotesk";
    font-size: clamp(10px, 5vw, 19px);
    font-weight: 400; 
    grid-column: 5/12;
    margin-top: 40px;
    text-align: left;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.testo.show {
    opacity: 1;
    transform: translateY(0);
}

/*IMAGENES*/
.img{
    width: 100%;
    height: auto;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.img.show {
    opacity: 1;
    transform: translateY(0);
}

.A{
   grid-column: 1/5;
   margin-top: 20px;
   padding: 20px;
}

/*RESPONSIVE DESIGN*/

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .titolo {
        font-size: clamp(40px, 15vw, 80px);
        grid-column: 1 / 13;
    }

    .testo, .img {
        grid-column: 1 / 13 !important;
        text-align: left;
        margin-top: 20px;
    }

    .testo {
        font-size: 18px;
        line-height: 1.4;
        padding: 20px;
    }

    .A {
        margin-top: 20px;
    }
}