/* NAVBAR Posiziona la parola MENU in alto a destra */
.navbar-fisso {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 2000;
}

.btn-menu {
    background: none;
    border: none;
    color: black;
    font-family: "Host Grotesk";
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.btn-menu:hover {
    color: #f4952f;
    transform: rotate(-360deg);
}

.custom-menu {
    width: 250px !important;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.nav-links li {
    margin-bottom: 25px;
}

.nav-links a {
    color: rgb(20, 20, 20);
    text-decoration: none;
    font-family: "Host Grotesk";
    font-size: 28px;
    font-weight: 700;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f4952f;
}


/* LAYOUT */
.layout {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra orizzontalmente tutto il contenuto */
    width: 100%;
}

/* TITULO */
.titolo{
    font-family: "Host Grotesk";
    font-size: clamp(40px, 18vw, 220px);
    line-height: 0.85;
    font-weight: 600; 
    display: flex;
    text-align: center;
    margin: 40px 0 30px 0;
    min-height: auto;
}

/* IMAGENES */
.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 20px;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.container img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    cursor: pointer;
}


.A { 
    grid-column: 1 / 3;
    align-self: end;
}
.B{
    grid-column: 3 / 5;
    align-self: start;
}
.C {
    grid-column: 5 / 7;
    align-self: center;
}

.D { 
    grid-column: 2 / 4; 
    margin-top: 40px;
}
.E { 
    grid-column: 4 / 6; 
    margin-top: 80px;
}

.container img:hover {
    transform: rotate(-400deg);
}